# Check Working of Samba NAS

## Step 1: Find IP of NAS
- ```
  ifconfig
  ```
- copy IP of nas

## Step 2: Login to NAS
- Open file explorer
- Go to Network> Network
- type
  ```
  \\<RPI>\nas
  ```
  NOTE: replace RPI with raspberry pi

- type login credentials and enter
- refer: [Samba_working_video](https://drive.google.com/file/d/1Xiv3QY0CYQDfGD2Gw7mPXXhYtu3szrm0/view?usp=sharing)

## Step 3: Check drag and drop feature of NAS
- Similar to any local folder
  
  
